@import '../index.scss';

.button {
  padding: 4px;
  width: 120px;
  padding: 8px 0;
  font-weight: bold;
  cursor: pointer;
  margin: 16px 0;
}

.primaryButton {
  background: $color1;
  border: 1px solid $color1;
  color: $color2;
  transition: 250ms;

  &:hover {
    color: $color1;
    background: $color2;
    border: 1px solid $color2;
  }
}
.secondaryButton {
  background-color: transparent;
  color: $color1;
  border: 1px solid $color2;
  transition: 250ms;

  &:hover {
    color: $color2;
    border: 1px solid $color1;
  }
}
